/*iphoneX 375 x 812
  ipad 768 x 1024
  ipadpro 1024 x 1366
*/


/*
@media screen and (min-height: 1024px) {
    .banner {
        padding-top: 200px;
    }
    .welcome h2, 
    .heat_air {
        font-size: 2.4rem;
    }
    
    h1 .air, 
    h1 .tech {
        font-size: 5.5rem;
    }
}

@media screen and (min-height: 1366px), (min-width: 1024px) {
    .banner {
        padding-top: 280px;
    }
    .welcome h2,
    .heat_air {
        font-size: 3.5rem !important;
    }
    h1 .air, 
    h1 .tech {
        font-size: 7rem !important;
    }
}

@media screen and (min-width: 769px) {
    .mobile-nav-icon { display: none; }
    
    .main-nav {
        display: flex;
        flex-direction: row;
    }
    .welcome h2, 
    .heat_air {
        font-size: 2rem;
    }
    
    h1 .air, 
    h1 .tech {
        font-size: 5rem;
    }
}


*/

@media screen and (min-height: 1020px) {
    .banner {
        padding-top: 200px;
    }
}

@media screen and (min-width: 768px) {
    .mobile-nav-icon { display: none; }
    
    .main-nav {
        display: flex;
        flex-direction: row;
    }
    .welcome h2, 
    .heat_air {
        font-size: 2rem;
    }
    
    h1 .air, 
    h1 .tech {
        font-size: 5rem;
    }
    
    .row__text {
        font-size: 2rem;
    }
   
   .type {
       font-size: 1.8rem !important;
   }

    
    .quality {
        font-size: 2.5rem;
    }
    
    .bio__text p {
        font-size: 1.4rem;
        width: 50%;
        line-height: 175%;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
      .welcome h2, 
    .heat_air {
        font-size: 3rem !important;
    }
    .banner {
        padding-top: 280px !important;
    }
    h1 .air, 
    h1 .tech {
        font-size: 6rem !important;
    }
}


@media screen and (max-width: 768px) {
    
    .bio__text {
        width: 75%;
        line-height: 140%;
        vertical-align: middle;
        text-align: left;
    }
}






