* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: #555;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  background-color: rgb(245, 245, 245);
  
}


header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./img/sands.JPG");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

nav ul li {
    padding: 10px 0;
}

nav ul li a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  padding: 10px;
}

nav ul li a:hover {
  border-bottom: 1px solid rgba(190, 190, 190, 0.562);
  color: rgb(167, 167, 167);
  transition: border-bottom 0.3s, color 0.3s;
}

.banner {
    width: 100% !important;

}

/*----- Sticky Nav ---------*/

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.9);
  z-index: 9999;
  box-shadow: 0 2px 2px rgba(44, 62, 80, 0.603);
  transition: background-color 0.5s;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 4px;
  color: #555;
}

.sticky .mobile-nav-icon {
    color: #2c3e50;
  }
  
  .main-nav li a:link,
  .main-nav li a:visited {
    border: 0;
    font-size: 1rem;
  }
  
  .sticky .main-nav li a:hover {
      color: rgb(44, 62, 80);
      font-weight: 400;
  }

/*------ Mobile Nav -------*/

.mobile-nav-icon {
  float: right;
  padding: 2px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
}

.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 50px;
  margin-top: 190px;
  
}

.welcome h2 {
  color: rgb(223, 223, 223);
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: -20px;
}



h1 .air,
h1 .tech {
  text-shadow: 1px 1px 6px rgb(117, 117, 117);
  letter-spacing: -2px;
}

h1 .air {
  color: #fff;
  font-weight: 100;
  font-size: 4rem;
  text-transform: uppercase;
}

h1 .tech {
  color: rgb(168, 168, 168);
  font-weight: 400;
  font-size: 4rem;
  text-transform: uppercase;
}

.heat_air h4 {
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 8px;
  word-spacing: 10px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    float: left !important;
}

.main-nav {
    display: none;
}


/*----- Services -----*/
.services {
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

.row {
  padding-top: 40px;
  max-width: 1140px;
  display: flex;
  margin: auto;
}

.row__text {
  border-bottom: 1px solid rgb(179, 179, 179);
  margin: auto;
  margin-bottom: 40px;
}

.row__text {
  font-size: 1.5rem; 
  font-weight: 100;
  text-transform: uppercase;
}

.box i {
    color: #2c3e50;
}

.box__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 50px;
}

 .box {
  background-color: rgb(238, 238, 238);
  width: 75%;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgb(105, 105, 105);
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}

.type {
  color: #2c3e50;
  font-size: 1.2rem;
}

.box .type p {
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 0;
    
}

.services .box__row .box {
    padding: 30px !important;
}


/*----- Quality Section -----*/

.bio {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.74),
      rgba(0, 0, 0, 0.11)
    ),
    url("./img/amanabw.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.quality {
    font-size: 1.3rem;
}

.bio__text {
    padding: 120px 40px;
  text-align: center;
  line-height: 145%;
  letter-spacing: 1px;
  font-weight: 100;
}


/*----- Contact -----*/

.contact {
  height: 300px;
  background-color: rgb(233, 233, 233);
  padding-bottom: 40px;
  margin: auto;
}

#contact__info p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.number {
  font-size: 2rem;
  color: #2c3e50;
}


footer {
  height: 30px;
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 80%;
  margin: auto;
}

/*--------- Animations ------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6,
.js--wp-7,
.js--wp-8 {
  opacity: 0;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-6.animated,
.js--wp-7.animated,
.js--wp-8.animated {
  opacity: 1;
}

.js--wp-2 {
  animation-delay: 0.5s;
}
.js--wp-3 {
  animation-delay: 1.3s;
}

.js--wp-7 {
  animation-delay: 0.5s;
}

.js--wp-8 {
  animation-delay: 1s;
}

